<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="~/img/about-1.jpg" alt="">
                        <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s" src="~/img/about-3.jpg" alt="">
                    </div>
                    <div class="col-6">
                        <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="~/img/about-4.jpg" alt="">
                        <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="~/img/about-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-lightBrown">Giới thiệu</p>
                    <h1 class="display-6">Lịch sử thành công của CakeCoffee trong 25 năm qua</h1>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col-sm-4">
                        <img class="img-fluid bg-white w-100" src="~/img/about-5.jpg" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h5>Cà phê của chúng tôi là một trong những thức uống được ưa chuộng nhất trên thế giới.</h5>
                        <p class="mb-0">Từng khoảnh khắc là một trải nghiệm đậm đà. Hương vị đắng nhẹ quyện cùng hậu vị ngọt ngào. Mỗi tách cà phê là sự kết hợp hoàn hảo giữa chất lượng và cảm xúc.</p>
                    </div>
                </div>
                <div class="border-top mb-4"></div>
                <div class="row g-3">
                    <div class="col-sm-8">
                        <h5>Thưởng thức một chiếc bánh ngọt mỗi ngày sẽ khiến tâm hồn bạn thêm vui vẻ.</h5>
                        <p class="mb-0">Mỗi chiếc bánh là sự hòa quyện giữa hương vị và cảm xúc. Ngọt ngào vừa đủ, mềm mại từng lớp tất cả tạo nên một trải nghiệm ngọt ngào không thể chối từ.</p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-fluid bg-white w-100" src="~/img/about-6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->